[user]
        email = 24797481+matinzd@users.noreply.github.com
        name = matinzd
        signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIN3YbyvOG1m4+xAVNNm4FzhOvuIEYfGR20A+kLxxLkK7

[gpg]
	format = ssh

[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
	gpgsign = true

[push]
	autoSetupRemote = true

[color]
	ui = auto

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[alias]
	staash = stash --all
	aadd = add -A
	unstage = reset HEAD --
	change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f"

[include]
	path = ~/.gitconfig.local
